.portfolio-container {
   background-image: url("../../../MyAsset/image/DSC05898.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 100vh;
  background-color: rgb(0, 0, 0);

}

.overlay{
  background-color: rgba(0, 0, 0, 0.797);
}
.port{
  height: 18cm;
  width: 20cm;
  margin-left: 1cm;
  margin-right: 0.2cm;
}
.port{
font-size:large;
}
.james{
  height: 15cm;
  margin-left: 1cm;
  margin-top: 2cm;
  border-radius: 1cm;
}

.portfolio-container2{
  margin-top: 3.3cm;
  height: 110vh;
  background-color: black;
  /* border: solid 2pt black; */
  width: 186.5vh;
  display: flex;
  }
.home-button {
  padding: 16px 24px;
  color: white;
  margin-left: 10cm;
  cursor: pointer;
 font-size: 20px;
  background-color: rgba(240, 248, 255, 0);
}
.home-button1 {
  font-size: 20px;
  padding: 12px 24px;
  color: white;
  margin-left: 2cm;
  cursor: pointer;
  background-color: rgba(240, 248, 255, 0);
}
.home-button2 {
  padding: 12px 24px;
  font-size: 20px;
  color: white;
  margin-left: 2cm;
  cursor: pointer;
  background-color: rgba(240, 248, 255, 0);
}
.home-button3 {
  padding: 12px 24px;
  font-size: 20px;
  color: white;
  margin-left: 2cm;
  cursor: pointer;
  background-color: rgba(240, 248, 255, 0);
}
.top{
  justify-content: space-around;
}
.middle{
  color: white;
    margin-top: 5cm;
    margin-right: 10cm;
    font-size: 20px;
}
.middle1{
  font-size: 45px;
  margin-left: 4cm;
  margin-bottom: 2cm;
}
.portfolio-container3{
  background-color: black;
  height: 100vh;
  width: 185.7vh;
  border: solid 2pt black;

}
.head{
  margin-right: 21cm;
}
.theBox{
  display: flex;
  height: 15cm;
}
.box1{
  background-color: rgba(128, 128, 128, 0.337);
  height: 10cm;
  width: 9cm;
  margin-top: 2cm;
  margin-left: 2cm;
  border-radius: 1.3cm;
  transition: transform 0.5s, background-color 0.5s;


}
.box1:hover{
  transform: translateY(-20px);
  background-color: orangered;
  margin-top: 5%;
}

.box2{
  background-color: rgba(128, 128, 128, 0.155);
  height: 10cm;
  width: 9cm;
  margin-top: 5%;
  margin-left: 2cm;
  border-radius: 1.3cm;
  transition: transform 0.5s, background-color 0.5s;


}
.box2:hover{
  transform: translateY(-20px);
  background-color: orangered;
  margin-top: 5%;
}

.box3{
  background-color: rgba(128, 128, 128, 0.153);
  height: 10cm;
  width: 9cm;
  margin-top: 5%;
  margin-left: 2cm;
  border-radius: 1.3cm;
  transition: transform 0.5s, background-color 0.5s;


}
.box3:hover{
  transform: translateY(-20px);
  background-color: orangered;
  margin-top: 5%;
}
.head2{
  margin-top: 2cm;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.head3{
  margin-top: 2cm;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}z
.world{
  height: -10cm;
}
.portfolio-container4{
  background-color: black;
  border: solid 2pt black;
  height: 100vh;
  width: 34.1cm;
  justify-content: space-around;
  overflow: hidden;
  border: solid 2pt black;

  }
.clock{
margin-left: 0.5cm;
height: 6cm;
width: 8cm;
border-radius: 1cm;
margin-top: 1cm;
}

/* .clockL:hover{
  background-color: blue;
} */
.clockText{
  font-family: 'Times New Roman', Times, serif;

}
.loginText{
  font-family: 'Times New Roman', Times, serif;
}
.login{
margin-left: 1cm;
height: 6cm;
width: 8cm;
margin-top: 2cm;
border: solid 2pt white;
border-radius: 1cm;
}
.tracker{
height: 6cm;
width: 8cm;
margin-top: 2cm;
border-radius: 1cm;
}
.trackerText{
  font-family: 'Times New Roman', Times, serif;
}
.button{
  color: wheat;
  margin-left: 1cm;
  height: 2cm;
  width: 6cm;
  background-color: black;
  font-size: x-large;
  border: solid 2pt rgb(244, 6, 6);
  margin-top: 1.2cm;
  border-radius: 0.4cm;
}
.flex{
  display: flex;
  height: 10cm;
  margin-top: 1.5cm;
  margin-right: 16cm;
  display: flex;
  width:170vh;
  margin-left: 2cm;
  justify-content: space-around;
}
.downHead{
  font-family:'Times New Roman', Times, serif;
  margin-right: 25cm;
}
.portfolio-container5{
  background-color: black;
  height: 100vh;
  width: 185.5vh;
  border: solid 2pt black;
}
.left{
  margin-right: 25cm;
  margin-top: 6cm;
}
.w{
  font-size:1.5cm;
}
.call{
  margin-right: 2cm;
}
.last{
  background-color: rgba(128, 128, 128, 0.306);
  height: 1.7cm;
  width: 185.5vh;
  border: solid 2pt  rgba(128, 128, 128, 0.377);
}